body{
    padding-top:70px ;
}
#toWhite{
    color: white;
}
#toWhited{
    color:white;
}

.navbar-inverse {
    background-color: #2c3e75;
}
footer {
    background-color:  #2c3e75;
    color:white;
}


